@import "../../utilities/_variables";

.about-cont {
  overflow: hidden;
  font-size: 1.2rem;
  border-radius: 6px;
  // box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
  &:after {
    content: "";
    display: block;
    height: 120px;
  }
}
.avatar-img {
  box-shadow: 2px 4px #ba7770;
  border-radius: 12px;
  width: 62px;
  height: 68px;
}
#line-road {
  margin-top: 50px;
  width: 600px;
  border-bottom: 8px solid $sage;
}
// .text {
//   width: 75%;
// }
// .about-page {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   .girl-on-books-img {
//     width: 100%;
//     height: auto;
//   }
//   .read-more {
//     color: black;
//     font-weight: 600;
//     position: relative;
//     top: 292px;
//     right: 40px;
//     &:hover {
//       color: $background;
//     }
//   }
//   .wiki-link {
//     width: 500px;
//     a {
//       text-decoration: none;
//     }
//   }
// }
@media only screen and(max-width: 768px) {
  .about-cont {
    font-size: 16px;
    margin-top: 100px;
  }
}
