@import "../utilities/_variables";

.navbar {
  height: 10vh;
}
.navbar-container {
  display: flex;
  list-style: none;
  width: 600px;
  margin: auto;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  height: 27px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.contact {
  border: 1px solid $sage;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
}
#border {
  border: 1px solid $sage;
  padding: 4px;
}
.nav-links:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-links:hover:after {
  width: 100%;
  background: $sage;
}
.main-nav-active {
  border-bottom: 6px dotted $sage;
  &:hover:after {
    width: 0;
  }
  .fa-nav {
    margin-left: 5px;
    display: inline-block;
  }
}
.fa-nav {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
}
